<a href="https://colab.research.google.com/github/YuxuanJiao/17-CleanedData/blob/main/Group17_Wellbeing_Level_Cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas

wellbeing_raw = pandas.read_excel('personal-well-being-borough.xlsx')

wellbeing_raw

,,Unnamed: 1,Life Satisfaction,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Anxiety,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,Code,Area,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,...,2018/19,NaN,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E09000001,City of London,x,x,x,x,x,x,NaN,NaN,...,x,NaN,x,x,x,x,x,x,x,x
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.5,7.66,7.52,...,7.67,NaN,3.23,3.27,3.39,3.15,2.84,3.02,2.85,2.82
4,E09000003,Barnet,7.43,7.28,7.4,7.54,7.53,7.47,7.63,7.55,...,7.44,NaN,3.41,2.74,2.6,2.37,2.49,3.09,2.78,3.19
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.46,7.42,7.54,...,7.55,NaN,3.07,3.24,3.46,3.16,3.06,3.16,3.04,3.21
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.67,7.79,7.71,...,7.84,NaN,2.77,3.29,3.07,2.5,2.57,2.69,2.7,2.4
7,E09000006,Bromley,7.5,7.6,7.53,7.71,7.54,7.6,7.31,7.57,...,7.47,NaN,3.3,3.22,3.15,2.76,2.98,3.29,3.16,2.88
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.56,7.31,7.48,...,7.38,NaN,3.81,3.24,3.41,3.21,3.16,3.38,3.62,3.3
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.68,7.49,7.69,...,7.78,NaN,3.47,3.04,3.32,2.89,3.12,3.03,3.27,2.93
10,E09000009,Ealing,7.22,7.22,7.24,7.6,7.65,7.42,7.55,7.53,...,7.61,NaN,3.86,3.58,3.38,3.36,3.35,3.35,3.23,3.4
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.3,7.29,7.34,7.37,...,7.35,NaN,3.15,2.54,2.57,2.19,2.49,2.96,2.63,2.96
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.28,7.47,7.54,...,7.36,NaN,3.38,3.62,3.27,3.52,3.55,3.37,3.15,2.98
13,E09000012,Hackney,7,7.07,7.05,7.43,7.31,7.26,7.34,7.5,...,7.38,NaN,3.88,3.66,3.79,3.32,3.13,3.48,3.23,3.04
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.4,7.56,7.68,7.47,7.34,7.72,...,7.6,NaN,2.87,3.09,3.4,3.14,3.68,3.49,3.52,3.45
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.56,7.6,7.35,...,7.26,NaN,3.3,3.06,3.24,3,3.09,3.01,3.34,3.07
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.64,7.79,7.65,...,7.61,NaN,2.65,3.14,2.6,2.57,2.82,2.47,2.44,2.34
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.53,7.58,7.68,...,7.4,NaN,3.4,3.17,3.12,3.02,2.65,2.81,2.83,3.03
18,E09000017,Hillingdon,7.4,7.37,7.5,7.63,7.46,7.68,7.55,7.76,...,7.67,NaN,3.44,3.37,3.06,3.03,3.09,3.37,3.17,3.07
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.96,7.34,7.85,...,7.73,NaN,3.54,3.39,3.17,3.25,3.13,2.79,3.28,3.14
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.38,7.38,7.51,...,7.3,NaN,3.66,3.68,3.45,3.27,3.41,3.26,3.35,3.23
21,E09000020,Kensington and Chelsea,7.57,7.7,7.67,7.65,7.78,7.52,7.31,7.23,...,7.38,NaN,3.2,3,3.14,3.21,3.38,3.29,3.71,3.69
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.69,7.6,7.78,...,7.59,NaN,3.5,3.34,3.07,3.2,3.03,3.19,3.04,2.81
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.35,7.42,7.22,...,7.26,NaN,3.43,3.66,3.42,3.12,3.33,3.5,3.32,3.67
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.18,7.31,7.49,...,7.55,NaN,3.56,3.36,3.4,3.23,3.08,3.26,3.18,3.37
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.62,7.55,7.84,...,7.57,NaN,3.78,3.59,3.38,3.31,3.23,3.15,3.07,3.13
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.61,7.47,7.54,...,7.54,NaN,3.89,3.33,2.85,2.72,2.57,2.76,3.04,3.16
27,E09000026,Redbridge,7.33,7.3,7.47,7.55,7.87,7.57,7.55,7.54,...,7.45,NaN,3.3,3.11,3.16,3.02,2.97,3.06,3.17,3.05
28,E09000027,Richmond upon Thames,7.52,7.4,7.6,7.54,7.74,7.71,7.73,7.7,...,7.48,NaN,3.32,3.49,3.01,3.34,2.99,3.25,3.38,3.34
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.37,7.47,7.34,...,7.28,NaN,3.54,3.37,3.49,3.29,3.27,3.37,3.68,3.61
30,E09000029,Sutton,7.39,7.28,7.49,7.6,7.45,7.66,7.91,7.88,...,7.79,NaN,3.22,3.34,3.28,3.04,3.59,2.99,2.94,2.64
31,E09000030,Tower Hamlets,7.02,7.32,7.5,7.54,7.48,7.75,7.51,7.82,...,7.73,NaN,3.53,2.95,3.05,3.14,2.86,3.14,3.26,2.77
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.67,7.73,7.46,...,7.51,NaN,3.45,2.96,3.03,2.79,2.58,2.62,3.03,2.98
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.64,7.64,7.65,...,7.5,NaN,3.63,3.54,3.34,3.07,3.29,3.36,2.88,3.15
34,E09000033,Westminster,7.33,7,7.53,7.45,7.6,7.68,7.57,7.66,...,7.38,NaN,3.52,3.66,3.13,3.38,3.14,2.99,3.33,3.36
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.61,7.66,7.67,...,7.5,NaN,3.21,3.05,2.97,3,2.99,2.84,2.92,2.85
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.59,7.68,7.69,...,7.54,NaN,3.17,3.08,2.93,2.9,2.93,2.93,2.86,2.78
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.66,7.7,...,7.49,NaN,3.09,3.03,2.97,2.97,2.93,2.95,2.92,2.91
39,E12000004,East Midlands,7.47,7.5,7.55,7.64,7.74,7.73,7.72,7.76,...,7.58,NaN,3.12,2.95,2.84,2.73,2.75,2.9,2.93,2.82
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.67,7.67,7.7,...,7.54,NaN,3.04,2.85,2.67,2.63,2.75,2.8,2.7,2.76
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.74,7.73,7.75,...,7.62,NaN,3.07,2.97,2.96,2.82,2.78,2.85,2.82,2.73
42,E12000007,London,7.25,7.25,7.36,7.49,7.5,7.54,7.52,7.58,...,7.51,NaN,3.42,3.27,3.18,3.02,3.04,3.12,3.13,3.1
43,E12000008,South East,7.51,7.54,7.6,7.73,7.74,7.76,7.76,7.79,...,7.64,NaN,3.07,3.04,2.87,2.82,2.84,2.87,2.92,2.88
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.76,7.76,7.77,...,7.62,NaN,3,2.99,2.87,2.82,2.8,2.84,2.81,2.86
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,E92000001,England,7.41,7.44,7.5,7.6,7.64,7.68,7.68,7.71,...,7.56,NaN,3.14,3.04,2.93,2.86,2.87,2.91,2.9,2.87
47,W92000004,Wales,7.4,7.44,7.52,7.56,7.63,7.65,7.69,7.68,...,7.53,NaN,3.11,3.02,2.97,2.93,2.92,2.96,2.94,2.93
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.71,7.69,...,7.52,NaN,3.06,2.93,2.89,2.83,2.85,2.89,2.89,2.83
49,N92000002,Northern Ireland,7.53,7.7,7.73,7.89,7.85,7.88,7.92,7.89,...,7.69,NaN,3.15,3,2.84,2.81,2.78,2.64,2.53,2.83
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.68,7.69,7.71,...,7.56,NaN,3.13,3.03,2.92,2.86,2.87,2.9,2.89,2.87

In [52]:

yearsremove = ['2016/17', '2017/18', '2018/19']

columnsremove = [col for col in wellbeing_raw.columns if wellbeing_raw.iloc[0][col] in yearsremove]


wellbeing1 = wellbeing_raw.drop(columns=columnsremove)

wellbeing1= wellbeing1.dropna(axis=1, how='all')

wellbeing1

,,Unnamed: 1,Life Satisfaction,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Worthwhile,Unnamed: 12,Unnamed: 13,...,Happiness,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Anxiety,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,Code,Area,2011/12,2012/13,2013/14,2014/15,2015/16,2011/12,2012/13,2013/14,...,2011/12,2012/13,2013/14,2014/15,2015/16,2011/12,2012/13,2013/14,2014/15,2015/16
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E09000001,City of London,x,x,x,x,x,x,x,x,...,x,x,x,x,x,x,x,x,x,x
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.49,7.6,7.39,...,6.91,7.05,7.16,7.26,7.45,3.23,3.27,3.39,3.15,2.84
4,E09000003,Barnet,7.43,7.28,7.4,7.54,7.53,7.7,7.74,7.7,...,7.26,7.23,7.53,7.44,7.62,3.41,2.74,2.6,2.37,2.49
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.68,7.75,7.79,...,7.22,7.18,7.3,7.38,7.29,3.07,3.24,3.46,3.16,3.06
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.2,7.35,7.6,...,7.07,7.19,7.31,7.32,7.53,2.77,3.29,3.07,2.5,2.57
7,E09000006,Bromley,7.5,7.6,7.53,7.71,7.54,7.84,7.8,7.74,...,7.44,7.38,7.58,7.48,7.51,3.3,3.22,3.15,2.76,2.98
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.35,7.35,7.41,...,7.24,7.1,7.18,7.17,7.24,3.81,3.24,3.41,3.21,3.16
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.57,7.46,7.64,...,7.21,7.08,7.28,7.4,7.23,3.47,3.04,3.32,2.89,3.12
10,E09000009,Ealing,7.22,7.22,7.24,7.6,7.65,7.62,7.47,7.59,...,7.01,7.41,7.2,7.47,7.52,3.86,3.58,3.38,3.36,3.35
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.3,7.57,7.59,7.53,...,7.16,7.42,7.4,7.46,7.4,3.15,2.54,2.57,2.19,2.49
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.36,7.53,7.68,...,7.08,7.05,7.2,7.16,7.07,3.38,3.62,3.27,3.52,3.55
13,E09000012,Hackney,7,7.07,7.05,7.43,7.31,7.38,7.38,7.31,...,7.09,7.06,6.81,7.22,7.25,3.88,3.66,3.79,3.32,3.13
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.4,7.56,7.68,7.53,7.56,7.56,...,7.19,6.96,7.19,7.39,7.45,2.87,3.09,3.4,3.14,3.68
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.37,7.51,7.62,...,7.1,7.09,7.28,7.27,7.23,3.3,3.06,3.24,3,3.09
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.33,7.54,7.59,...,7.32,7.39,7.49,7.53,7.46,2.65,3.14,2.6,2.57,2.82
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.69,7.64,7.72,...,7.25,7.18,7.35,7.32,7.53,3.4,3.17,3.12,3.02,2.65
18,E09000017,Hillingdon,7.4,7.37,7.5,7.63,7.46,7.61,7.65,7.85,...,7.31,7.34,7.47,7.34,7.37,3.44,3.37,3.06,3.03,3.09
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.49,7.53,7.6,...,7.39,7.27,7.49,7.53,7.47,3.54,3.39,3.17,3.25,3.13
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.31,7.27,7.65,...,7.14,6.91,7.2,7.18,7.11,3.66,3.68,3.45,3.27,3.41
21,E09000020,Kensington and Chelsea,7.57,7.7,7.67,7.65,7.78,7.69,7.94,7.91,...,7.49,7.56,7.61,7.4,7.6,3.2,3,3.14,3.21,3.38
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.66,7.43,7.74,...,7.27,7.1,7.57,7.48,7.59,3.5,3.34,3.07,3.2,3.03
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.44,7.39,7.36,...,7.16,7,7.17,7.29,7.11,3.43,3.66,3.42,3.12,3.33
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.41,7.69,7.76,...,7.11,7.12,7.42,7.17,7.26,3.56,3.36,3.4,3.23,3.08
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.51,7.55,7.64,...,7,7.14,7.22,7.51,7.5,3.78,3.59,3.38,3.31,3.23
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.34,7.5,7.62,...,7.05,7.32,7.37,7.51,7.62,3.89,3.33,2.85,2.72,2.57
27,E09000026,Redbridge,7.33,7.3,7.47,7.55,7.87,7.64,7.48,7.69,...,7.44,7.37,7.25,7.44,7.67,3.3,3.11,3.16,3.02,2.97
28,E09000027,Richmond upon Thames,7.52,7.4,7.6,7.54,7.74,7.72,7.68,7.8,...,7.21,7.35,7.54,7.49,7.65,3.32,3.49,3.01,3.34,2.99
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.56,7.59,7.76,...,7.25,7.15,7.29,7.45,7.35,3.54,3.37,3.49,3.29,3.27
30,E09000029,Sutton,7.39,7.28,7.49,7.6,7.45,7.74,7.58,7.61,...,7.13,7.2,7.28,7.48,7.28,3.22,3.34,3.28,3.04,3.59
31,E09000030,Tower Hamlets,7.02,7.32,7.5,7.54,7.48,7.14,7.56,7.6,...,7.03,7.38,7.52,7.28,7.58,3.53,2.95,3.05,3.14,2.86
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.35,7.74,7.59,...,7.16,7.26,7.13,7.38,7.51,3.45,2.96,3.03,2.79,2.58
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.61,7.56,7.72,...,7.33,7.28,7.51,7.42,7.44,3.63,3.54,3.34,3.07,3.29
34,E09000033,Westminster,7.33,7,7.53,7.45,7.6,7.59,7.36,7.56,...,7.28,7,7.11,7.37,7.41,3.52,3.66,3.13,3.38,3.14
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.64,7.64,7.72,...,7.19,7.19,7.31,7.36,7.36,3.21,3.05,2.97,3,2.99
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.66,7.67,7.7,...,7.25,7.23,7.29,7.4,7.38,3.17,3.08,2.93,2.9,2.93
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.7,7.72,...,7.26,7.28,7.36,7.41,7.45,3.09,3.03,2.97,2.97,2.93
39,E12000004,East Midlands,7.47,7.5,7.55,7.64,7.74,7.71,7.75,7.75,...,7.34,7.37,7.42,7.52,7.57,3.12,2.95,2.84,2.73,2.75
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.53,7.63,7.72,...,7.2,7.26,7.41,7.43,7.46,3.04,2.85,2.67,2.63,2.75
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.71,7.72,7.79,...,7.37,7.35,7.43,7.52,7.53,3.07,2.97,2.96,2.82,2.78
42,E12000007,London,7.25,7.25,7.36,7.49,7.5,7.51,7.55,7.63,...,7.2,7.21,7.33,7.37,7.41,3.42,3.27,3.18,3.02,3.04
43,E12000008,South East,7.51,7.54,7.6,7.73,7.74,7.76,7.77,7.81,...,7.36,7.35,7.46,7.54,7.54,3.07,3.04,2.87,2.82,2.84
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.78,7.76,7.78,...,7.39,7.36,7.43,7.5,7.54,3,2.99,2.87,2.82,2.8
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,E92000001,England,7.41,7.44,7.5,7.6,7.64,7.66,7.69,7.74,...,7.29,7.29,7.38,7.46,7.47,3.14,3.04,2.93,2.86,2.87
47,W92000004,Wales,7.4,7.44,7.52,7.56,7.63,7.71,7.7,7.76,...,7.31,7.31,7.4,7.45,7.44,3.11,3.02,2.97,2.93,2.92
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.7,7.74,...,7.31,7.33,7.38,7.46,7.43,3.06,2.93,2.89,2.83,2.85
49,N92000002,Northern Ireland,7.53,7.7,7.73,7.89,7.85,7.76,7.86,7.98,...,7.39,7.6,7.64,7.73,7.7,3.15,3,2.84,2.81,2.78
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.67,7.7,7.74,...,7.29,7.3,7.39,7.46,7.48,3.13,3.03,2.92,2.86,2.87

In [63]:

rename = {'Life Satisfaction':'2011/12 Life Satisfaction',
    'Unnamed: 3': '2012/13 Life Satisfaction',
    'Unnamed: 4': '2013/14 Life Satisfaction',
    'Unnamed: 5': '2014/15 Life Satisfaction',
    'Unnamed: 6': '2015/16 Life Satisfaction',}

rename = {'Worthwhile':'2011/12 Worthwhile',
    'Unnamed: 12': '2012/13 Worthwhile',
    'Unnamed: 13': '2013/14 Worthwhile',
    'Unnamed: 14': '2014/15 Worthwhile',
    'Unnamed: 15': '2015/16 Worthwhile',}

rename = {'Happiness':'2011/12 Happiness',
    'Unnamed: 21': '2012/13 Happiness',
    'Unnamed: 22': '2013/14 Happiness',
    'Unnamed: 23': '2014/15 Happiness',
    'Unnamed: 24': '2015/16 Happiness',}

rename = {'Anxiety':'2011/12 Anxiety',
    'Unnamed: 30': '2012/13 Anxiety',
    'Unnamed: 31': '2013/14 Anxiety',
    'Unnamed: 32': '2014/15 Anxiety',
    'Unnamed: 33': '2015/16 Anxiety',}

wellbeing1 = wellbeing1.rename(columns=rename)

wellbeing1

,,Unnamed: 1,2011/12 Life Satisfaction,2012/13 Life Satisfaction,2013/14 Life Satisfaction,2014/15 Life Satisfaction,2015/16 Life Satisfaction,2011/12 Worthwhile,2012/13 Worthwhile,2013/14 Worthwhile,...,2011/12 Happiness,2012/13 Happiness,2013/14 Happiness,2014/15 Happiness,2015/16 Happiness,2011/12 Anxiety,2012/13 Anxiety,2013/14 Anxiety,2014/15 Anxiety,2015/16 Anxiety
0,Code,Area,2011/12,2012/13,2013/14,2014/15,2015/16,2011/12,2012/13,2013/14,...,2011/12,2012/13,2013/14,2014/15,2015/16,2011/12,2012/13,2013/14,2014/15,2015/16
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E09000001,City of London,x,x,x,x,x,x,x,x,...,x,x,x,x,x,x,x,x,x,x
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.49,7.6,7.39,...,6.91,7.05,7.16,7.26,7.45,3.23,3.27,3.39,3.15,2.84
4,E09000003,Barnet,7.43,7.28,7.4,7.54,7.53,7.7,7.74,7.7,...,7.26,7.23,7.53,7.44,7.62,3.41,2.74,2.6,2.37,2.49
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.68,7.75,7.79,...,7.22,7.18,7.3,7.38,7.29,3.07,3.24,3.46,3.16,3.06
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.2,7.35,7.6,...,7.07,7.19,7.31,7.32,7.53,2.77,3.29,3.07,2.5,2.57
7,E09000006,Bromley,7.5,7.6,7.53,7.71,7.54,7.84,7.8,7.74,...,7.44,7.38,7.58,7.48,7.51,3.3,3.22,3.15,2.76,2.98
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.35,7.35,7.41,...,7.24,7.1,7.18,7.17,7.24,3.81,3.24,3.41,3.21,3.16
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.57,7.46,7.64,...,7.21,7.08,7.28,7.4,7.23,3.47,3.04,3.32,2.89,3.12
10,E09000009,Ealing,7.22,7.22,7.24,7.6,7.65,7.62,7.47,7.59,...,7.01,7.41,7.2,7.47,7.52,3.86,3.58,3.38,3.36,3.35
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.3,7.57,7.59,7.53,...,7.16,7.42,7.4,7.46,7.4,3.15,2.54,2.57,2.19,2.49
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.36,7.53,7.68,...,7.08,7.05,7.2,7.16,7.07,3.38,3.62,3.27,3.52,3.55
13,E09000012,Hackney,7,7.07,7.05,7.43,7.31,7.38,7.38,7.31,...,7.09,7.06,6.81,7.22,7.25,3.88,3.66,3.79,3.32,3.13
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.4,7.56,7.68,7.53,7.56,7.56,...,7.19,6.96,7.19,7.39,7.45,2.87,3.09,3.4,3.14,3.68
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.37,7.51,7.62,...,7.1,7.09,7.28,7.27,7.23,3.3,3.06,3.24,3,3.09
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.33,7.54,7.59,...,7.32,7.39,7.49,7.53,7.46,2.65,3.14,2.6,2.57,2.82
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.69,7.64,7.72,...,7.25,7.18,7.35,7.32,7.53,3.4,3.17,3.12,3.02,2.65
18,E09000017,Hillingdon,7.4,7.37,7.5,7.63,7.46,7.61,7.65,7.85,...,7.31,7.34,7.47,7.34,7.37,3.44,3.37,3.06,3.03,3.09
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.49,7.53,7.6,...,7.39,7.27,7.49,7.53,7.47,3.54,3.39,3.17,3.25,3.13
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.31,7.27,7.65,...,7.14,6.91,7.2,7.18,7.11,3.66,3.68,3.45,3.27,3.41
21,E09000020,Kensington and Chelsea,7.57,7.7,7.67,7.65,7.78,7.69,7.94,7.91,...,7.49,7.56,7.61,7.4,7.6,3.2,3,3.14,3.21,3.38
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.66,7.43,7.74,...,7.27,7.1,7.57,7.48,7.59,3.5,3.34,3.07,3.2,3.03
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.44,7.39,7.36,...,7.16,7,7.17,7.29,7.11,3.43,3.66,3.42,3.12,3.33
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.41,7.69,7.76,...,7.11,7.12,7.42,7.17,7.26,3.56,3.36,3.4,3.23,3.08
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.51,7.55,7.64,...,7,7.14,7.22,7.51,7.5,3.78,3.59,3.38,3.31,3.23
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.34,7.5,7.62,...,7.05,7.32,7.37,7.51,7.62,3.89,3.33,2.85,2.72,2.57
27,E09000026,Redbridge,7.33,7.3,7.47,7.55,7.87,7.64,7.48,7.69,...,7.44,7.37,7.25,7.44,7.67,3.3,3.11,3.16,3.02,2.97
28,E09000027,Richmond upon Thames,7.52,7.4,7.6,7.54,7.74,7.72,7.68,7.8,...,7.21,7.35,7.54,7.49,7.65,3.32,3.49,3.01,3.34,2.99
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.56,7.59,7.76,...,7.25,7.15,7.29,7.45,7.35,3.54,3.37,3.49,3.29,3.27
30,E09000029,Sutton,7.39,7.28,7.49,7.6,7.45,7.74,7.58,7.61,...,7.13,7.2,7.28,7.48,7.28,3.22,3.34,3.28,3.04,3.59
31,E09000030,Tower Hamlets,7.02,7.32,7.5,7.54,7.48,7.14,7.56,7.6,...,7.03,7.38,7.52,7.28,7.58,3.53,2.95,3.05,3.14,2.86
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.35,7.74,7.59,...,7.16,7.26,7.13,7.38,7.51,3.45,2.96,3.03,2.79,2.58
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.61,7.56,7.72,...,7.33,7.28,7.51,7.42,7.44,3.63,3.54,3.34,3.07,3.29
34,E09000033,Westminster,7.33,7,7.53,7.45,7.6,7.59,7.36,7.56,...,7.28,7,7.11,7.37,7.41,3.52,3.66,3.13,3.38,3.14
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.64,7.64,7.72,...,7.19,7.19,7.31,7.36,7.36,3.21,3.05,2.97,3,2.99
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.66,7.67,7.7,...,7.25,7.23,7.29,7.4,7.38,3.17,3.08,2.93,2.9,2.93
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.7,7.72,...,7.26,7.28,7.36,7.41,7.45,3.09,3.03,2.97,2.97,2.93
39,E12000004,East Midlands,7.47,7.5,7.55,7.64,7.74,7.71,7.75,7.75,...,7.34,7.37,7.42,7.52,7.57,3.12,2.95,2.84,2.73,2.75
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.53,7.63,7.72,...,7.2,7.26,7.41,7.43,7.46,3.04,2.85,2.67,2.63,2.75
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.71,7.72,7.79,...,7.37,7.35,7.43,7.52,7.53,3.07,2.97,2.96,2.82,2.78
42,E12000007,London,7.25,7.25,7.36,7.49,7.5,7.51,7.55,7.63,...,7.2,7.21,7.33,7.37,7.41,3.42,3.27,3.18,3.02,3.04
43,E12000008,South East,7.51,7.54,7.6,7.73,7.74,7.76,7.77,7.81,...,7.36,7.35,7.46,7.54,7.54,3.07,3.04,2.87,2.82,2.84
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.78,7.76,7.78,...,7.39,7.36,7.43,7.5,7.54,3,2.99,2.87,2.82,2.8
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,E92000001,England,7.41,7.44,7.5,7.6,7.64,7.66,7.69,7.74,...,7.29,7.29,7.38,7.46,7.47,3.14,3.04,2.93,2.86,2.87
47,W92000004,Wales,7.4,7.44,7.52,7.56,7.63,7.71,7.7,7.76,...,7.31,7.31,7.4,7.45,7.44,3.11,3.02,2.97,2.93,2.92
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.7,7.74,...,7.31,7.33,7.38,7.46,7.43,3.06,2.93,2.89,2.83,2.85
49,N92000002,Northern Ireland,7.53,7.7,7.73,7.89,7.85,7.76,7.86,7.98,...,7.39,7.6,7.64,7.73,7.7,3.15,3,2.84,2.81,2.78
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.67,7.7,7.74,...,7.29,7.3,7.39,7.46,7.48,3.13,3.03,2.92,2.86,2.87

In [73]:
for year in '2011/12', '2012/13', '2013/14', '2014/15', '2015/16':
    wellbeing1[f'{year} Life Satisfaction'] = pandas.to_numeric(wellbeing1[f'{year} Life Satisfaction'], errors='coerce')
    wellbeing1[f'{year} Worthwhile'] = pandas.to_numeric(wellbeing1[f'{year} Worthwhile'], errors='coerce')
    wellbeing1[f'{year} Happiness'] = pandas.to_numeric(wellbeing1[f'{year} Happiness'], errors='coerce')
    wellbeing1[f'{year} Anxiety'] = pandas.to_numeric(wellbeing1[f'{year} Anxiety'], errors='coerce')

    wellbeing1[f'{year} Overall Wellbeing'] = wellbeing1[f'{year} Life Satisfaction'] + wellbeing1[f'{year} Worthwhile'] + \
                                              wellbeing1[f'{year} Happiness'] - wellbeing1[f'{year} Anxiety']

wellbeing1

,,Unnamed: 1,2011/12 Life Satisfaction,2012/13 Life Satisfaction,2013/14 Life Satisfaction,2014/15 Life Satisfaction,2015/16 Life Satisfaction,2011/12 Worthwhile,2012/13 Worthwhile,2013/14 Worthwhile,...,2011/12 Anxiety,2012/13 Anxiety,2013/14 Anxiety,2014/15 Anxiety,2015/16 Anxiety,2011/12 Overall Wellbeing,2012/13 Overall Wellbeing,2013/14 Overall Wellbeing,2014/15 Overall Wellbeing,2015/16 Overall Wellbeing
0,Code,Area,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E09000001,City of London,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E09000002,Barking and Dagenham,7.05,7.09,7.01,7.32,7.45,7.49,7.60,7.39,...,3.23,3.27,3.39,3.15,2.84,18.22,18.47,18.17,19.00,19.87
4,E09000003,Barnet,7.43,7.28,7.40,7.54,7.53,7.70,7.74,7.70,...,3.41,2.74,2.60,2.37,2.49,18.98,19.51,20.03,20.53,20.58
5,E09000004,Bexley,7.42,7.42,7.28,7.52,7.41,7.68,7.75,7.79,...,3.07,3.24,3.46,3.16,3.06,19.25,19.11,18.91,19.54,19.43
6,E09000005,Brent,7.11,7.28,7.41,7.24,7.55,7.20,7.35,7.60,...,2.77,3.29,3.07,2.50,2.57,18.61,18.53,19.25,19.51,20.12
7,E09000006,Bromley,7.50,7.60,7.53,7.71,7.54,7.84,7.80,7.74,...,3.30,3.22,3.15,2.76,2.98,19.48,19.56,19.70,20.36,19.88
8,E09000007,Camden,7.25,7.24,7.11,7.25,7.35,7.35,7.35,7.41,...,3.81,3.24,3.41,3.21,3.16,18.03,18.45,18.29,18.69,18.94
9,E09000008,Croydon,7.04,7.01,7.36,7.35,7.45,7.57,7.46,7.64,...,3.47,3.04,3.32,2.89,3.12,18.35,18.51,18.96,19.57,19.29
10,E09000009,Ealing,7.22,7.22,7.24,7.60,7.65,7.62,7.47,7.59,...,3.86,3.58,3.38,3.36,3.35,17.99,18.52,18.65,19.54,19.66
11,E09000010,Enfield,7.23,7.24,7.28,7.45,7.30,7.57,7.59,7.53,...,3.15,2.54,2.57,2.19,2.49,18.81,19.71,19.64,20.43,19.81
12,E09000011,Greenwich,7.18,7.15,7.15,7.33,7.23,7.36,7.53,7.68,...,3.38,3.62,3.27,3.52,3.55,18.24,18.11,18.76,18.64,18.39
13,E09000012,Hackney,7.00,7.07,7.05,7.43,7.31,7.38,7.38,7.31,...,3.88,3.66,3.79,3.32,3.13,17.59,17.85,17.38,18.90,18.83
14,E09000013,Hammersmith and Fulham,7.38,7.21,7.40,7.56,7.68,7.53,7.56,7.56,...,2.87,3.09,3.40,3.14,3.68,19.23,18.64,18.75,19.49,19.26
15,E09000014,Haringey,7.11,7.17,7.28,7.38,7.26,7.37,7.51,7.62,...,3.30,3.06,3.24,3.00,3.09,18.28,18.71,18.94,19.28,18.84
16,E09000015,Harrow,7.31,7.37,7.51,7.49,7.65,7.33,7.54,7.59,...,2.65,3.14,2.60,2.57,2.82,19.31,19.16,19.99,20.03,20.08
17,E09000016,Havering,7.35,7.36,7.51,7.62,7.69,7.69,7.64,7.72,...,3.40,3.17,3.12,3.02,2.65,18.89,19.01,19.46,19.66,20.44
18,E09000017,Hillingdon,7.40,7.37,7.50,7.63,7.46,7.61,7.65,7.85,...,3.44,3.37,3.06,3.03,3.09,18.88,18.99,19.76,19.79,19.39
19,E09000018,Hounslow,7.26,7.35,7.33,7.57,7.54,7.49,7.53,7.60,...,3.54,3.39,3.17,3.25,3.13,18.60,18.76,19.25,19.63,19.61
20,E09000019,Islington,7.09,7.14,7.35,7.36,7.29,7.31,7.27,7.65,...,3.66,3.68,3.45,3.27,3.41,17.88,17.64,18.75,18.79,18.37
21,E09000020,Kensington and Chelsea,7.57,7.70,7.67,7.65,7.78,7.69,7.94,7.91,...,3.20,3.00,3.14,3.21,3.38,19.55,20.20,20.05,19.63,19.89
22,E09000021,Kingston upon Thames,7.33,7.17,7.43,7.52,7.71,7.66,7.43,7.74,...,3.50,3.34,3.07,3.20,3.03,18.76,18.36,19.67,19.55,20.12
23,E09000022,Lambeth,7.13,7.08,7.01,7.41,7.41,7.44,7.39,7.36,...,3.43,3.66,3.42,3.12,3.33,18.30,17.81,18.12,19.13,18.79
24,E09000023,Lewisham,7.05,7.23,7.34,7.33,7.14,7.41,7.69,7.76,...,3.56,3.36,3.40,3.23,3.08,18.01,18.68,19.12,18.80,18.97
25,E09000024,Merton,7.14,7.18,7.43,7.64,7.56,7.51,7.55,7.64,...,3.78,3.59,3.38,3.31,3.23,17.87,18.28,18.91,19.70,19.57
26,E09000025,Newham,7.12,7.23,7.24,7.54,7.73,7.34,7.50,7.62,...,3.89,3.33,2.85,2.72,2.57,17.62,18.72,19.38,20.18,20.70
27,E09000026,Redbridge,7.33,7.30,7.47,7.55,7.87,7.64,7.48,7.69,...,3.30,3.11,3.16,3.02,2.97,19.11,19.04,19.25,19.86,20.64
28,E09000027,Richmond upon Thames,7.52,7.40,7.60,7.54,7.74,7.72,7.68,7.80,...,3.32,3.49,3.01,3.34,2.99,19.13,18.94,19.93,19.52,20.32
29,E09000028,Southwark,7.36,7.21,7.58,7.43,7.49,7.56,7.59,7.76,...,3.54,3.37,3.49,3.29,3.27,18.63,18.58,19.14,19.29,19.23
30,E09000029,Sutton,7.39,7.28,7.49,7.60,7.45,7.74,7.58,7.61,...,3.22,3.34,3.28,3.04,3.59,19.04,18.72,19.10,19.96,18.92
31,E09000030,Tower Hamlets,7.02,7.32,7.50,7.54,7.48,7.14,7.56,7.60,...,3.53,2.95,3.05,3.14,2.86,17.66,19.31,19.57,19.32,19.91
32,E09000031,Waltham Forest,7.18,7.24,7.34,7.64,7.55,7.35,7.74,7.59,...,3.45,2.96,3.03,2.79,2.58,18.24,19.28,19.03,20.09,20.17
33,E09000032,Wandsworth,7.46,7.26,7.43,7.47,7.53,7.61,7.56,7.72,...,3.63,3.54,3.34,3.07,3.29,18.77,18.56,19.32,19.55,19.41
34,E09000033,Westminster,7.33,7.00,7.53,7.45,7.60,7.59,7.36,7.56,...,3.52,3.66,3.13,3.38,3.14,18.68,17.70,19.07,19.14,19.44
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,E12000001,North East,7.44,7.39,7.47,7.57,7.62,7.64,7.64,7.72,...,3.21,3.05,2.97,3.00,2.99,19.06,19.17,19.53,19.67,19.78
37,E12000002,North West,7.37,7.41,7.42,7.56,7.55,7.66,7.67,7.70,...,3.17,3.08,2.93,2.90,2.93,19.11,19.23,19.48,19.88,19.80
38,E12000003,Yorkshire and The Humber,7.39,7.46,7.51,7.55,7.65,7.69,7.70,7.72,...,3.09,3.03,2.97,2.97,2.93,19.25,19.41,19.62,19.81,20.02
39,E12000004,East Midlands,7.47,7.50,7.55,7.64,7.74,7.71,7.75,7.75,...,3.12,2.95,2.84,2.73,2.75,19.40,19.67,19.88,20.24,20.47
40,E12000005,West Midlands,7.28,7.43,7.49,7.57,7.62,7.53,7.63,7.72,...,3.04,2.85,2.67,2.63,2.75,18.97,19.47,19.95,20.13,20.12
41,E12000006,East of England,7.46,7.49,7.55,7.66,7.67,7.71,7.72,7.79,...,3.07,2.97,2.96,2.82,2.78,19.47,19.59,19.81,20.22,20.31
42,E12000007,London,7.25,7.25,7.36,7.49,7.50,7.51,7.55,7.63,...,3.42,3.27,3.18,3.02,3.04,18.54,18.74,19.14,19.56,19.59
43,E12000008,South East,7.51,7.54,7.60,7.73,7.74,7.76,7.77,7.81,...,3.07,3.04,2.87,2.82,2.84,19.56,19.62,20.00,20.36,20.32
44,E12000009,South West,7.53,7.55,7.56,7.66,7.73,7.78,7.76,7.78,...,3.00,2.99,2.87,2.82,2.80,19.70,19.68,19.90,20.20,20.36
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,E92000001,England,7.41,7.44,7.50,7.60,7.64,7.66,7.69,7.74,...,3.14,3.04,2.93,2.86,2.87,19.22,19.38,19.69,20.02,20.07
47,W92000004,Wales,7.40,7.44,7.52,7.56,7.63,7.71,7.70,7.76,...,3.11,3.02,2.97,2.93,2.92,19.31,19.43,19.71,19.86,19.98
48,S92000003,Scotland,7.51,7.53,7.58,7.66,7.68,7.68,7.70,7.74,...,3.06,2.93,2.89,2.83,2.85,19.44,19.63,19.81,20.13,20.08
49,N92000002,Northern Ireland,7.53,7.70,7.73,7.89,7.85,7.76,7.86,7.98,...,3.15,3.00,2.84,2.81,2.78,19.53,20.16,20.51,20.91,20.77
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,K02000001,UK,7.42,7.46,7.51,7.61,7.65,7.67,7.70,7.74,...,3.13,3.03,2.92,2.86,2.87,19.25,19.43,19.72,20.03,20.10

In [77]:

wellbeinglevel_cleaned_df = wellbeing1.iloc[:,[0,1,-5,-4,-3,-2,-1]]

wellbeinglevel_cleaned_df

,,Unnamed: 1,2011/12 Overall Wellbeing,2012/13 Overall Wellbeing,2013/14 Overall Wellbeing,2014/15 Overall Wellbeing,2015/16 Overall Wellbeing
0,Code,Area,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E09000001,City of London,NaN,NaN,NaN,NaN,NaN
3,E09000002,Barking and Dagenham,18.22,18.47,18.17,19.00,19.87
4,E09000003,Barnet,18.98,19.51,20.03,20.53,20.58
5,E09000004,Bexley,19.25,19.11,18.91,19.54,19.43
6,E09000005,Brent,18.61,18.53,19.25,19.51,20.12
7,E09000006,Bromley,19.48,19.56,19.70,20.36,19.88
8,E09000007,Camden,18.03,18.45,18.29,18.69,18.94
9,E09000008,Croydon,18.35,18.51,18.96,19.57,19.29
10,E09000009,Ealing,17.99,18.52,18.65,19.54,19.66
11,E09000010,Enfield,18.81,19.71,19.64,20.43,19.81
12,E09000011,Greenwich,18.24,18.11,18.76,18.64,18.39
13,E09000012,Hackney,17.59,17.85,17.38,18.90,18.83
14,E09000013,Hammersmith and Fulham,19.23,18.64,18.75,19.49,19.26
15,E09000014,Haringey,18.28,18.71,18.94,19.28,18.84
16,E09000015,Harrow,19.31,19.16,19.99,20.03,20.08
17,E09000016,Havering,18.89,19.01,19.46,19.66,20.44
18,E09000017,Hillingdon,18.88,18.99,19.76,19.79,19.39
19,E09000018,Hounslow,18.60,18.76,19.25,19.63,19.61
20,E09000019,Islington,17.88,17.64,18.75,18.79,18.37
21,E09000020,Kensington and Chelsea,19.55,20.20,20.05,19.63,19.89
22,E09000021,Kingston upon Thames,18.76,18.36,19.67,19.55,20.12
23,E09000022,Lambeth,18.30,17.81,18.12,19.13,18.79
24,E09000023,Lewisham,18.01,18.68,19.12,18.80,18.97
25,E09000024,Merton,17.87,18.28,18.91,19.70,19.57
26,E09000025,Newham,17.62,18.72,19.38,20.18,20.70
27,E09000026,Redbridge,19.11,19.04,19.25,19.86,20.64
28,E09000027,Richmond upon Thames,19.13,18.94,19.93,19.52,20.32
29,E09000028,Southwark,18.63,18.58,19.14,19.29,19.23
30,E09000029,Sutton,19.04,18.72,19.10,19.96,18.92
31,E09000030,Tower Hamlets,17.66,19.31,19.57,19.32,19.91
32,E09000031,Waltham Forest,18.24,19.28,19.03,20.09,20.17
33,E09000032,Wandsworth,18.77,18.56,19.32,19.55,19.41
34,E09000033,Westminster,18.68,17.70,19.07,19.14,19.44
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,E12000001,North East,19.06,19.17,19.53,19.67,19.78
37,E12000002,North West,19.11,19.23,19.48,19.88,19.80
38,E12000003,Yorkshire and The Humber,19.25,19.41,19.62,19.81,20.02
39,E12000004,East Midlands,19.40,19.67,19.88,20.24,20.47
40,E12000005,West Midlands,18.97,19.47,19.95,20.13,20.12
41,E12000006,East of England,19.47,19.59,19.81,20.22,20.31
42,E12000007,London,18.54,18.74,19.14,19.56,19.59
43,E12000008,South East,19.56,19.62,20.00,20.36,20.32
44,E12000009,South West,19.70,19.68,19.90,20.20,20.36
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,E92000001,England,19.22,19.38,19.69,20.02,20.07
47,W92000004,Wales,19.31,19.43,19.71,19.86,19.98
48,S92000003,Scotland,19.44,19.63,19.81,20.13,20.08
49,N92000002,Northern Ireland,19.53,20.16,20.51,20.91,20.77
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,K02000001,UK,19.25,19.43,19.72,20.03,20.10