<a href="https://colab.research.google.com/github/YuxuanJiao/17-CleanedData/blob/main/Housing_Cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas

housing_raw=pandas.read_excel('ratio-house-price-earnings-workplace-based.xlsx')
housing_raw

,New Code,Old Code,Area,1997,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E09000001,00AA,City of London,4.61,5.50,5.45,5.50,6.01,6.04,6.88,...,10.61,12.79,15.25,14.42,15.10,14.51,14.94,14.82,12.00,11.89
2,E09000002,00AB,Barking and Dagenham,3.02,2.58,2.93,3.32,3.85,4.31,5.41,...,5.54,6.27,7.12,8.94,10.58,10.17,10.97,9.86,10.31,11.52
3,E09000003,00AC,Barnet,5.45,6.10,6.59,6.98,8.13,8.48,9.44,...,11.41,12.52,14.24,14.41,15.93,17.21,16.28,16.30,16.44,17.64
4,E09000004,00AD,Bexley,3.88,4.11,4.48,4.93,5.54,6.26,7.15,...,7.72,8.74,9.14,11.04,10.90,11.34,11.21,11.53,13.36,11.79
5,E09000005,00AE,Brent,4.59,4.92,5.72,5.95,7.04,8.38,8.99,...,12.13,12.68,13.34,14.66,15.76,16.30,15.69,14.39,15.61,13.08
6,E09000006,00AF,Bromley,5.75,5.94,6.67,7.93,9.43,10.22,10.45,...,10.22,11.64,11.99,13.25,14.59,14.30,13.85,12.87,14.41,13.96
7,E09000007,00AG,Camden,6.51,6.86,7.71,8.87,9.09,9.89,9.33,...,15.69,17.69,18.42,19.50,20.10,19.39,19.26,19.79,18.54,18.01
8,E09000008,00AH,Croydon,3.80,4.09,4.34,4.81,5.91,6.31,7.37,...,7.60,8.02,9.63,10.51,11.22,11.09,10.80,11.39,11.89,10.76
9,E09000009,00AJ,Ealing,4.53,5.00,5.69,6.31,6.70,7.40,8.62,...,10.93,12.84,14.48,15.73,16.19,15.62,15.15,14.84,16.16,15.83
10,E09000010,00AK,Enfield,4.25,4.31,4.67,4.85,5.18,5.88,7.79,...,9.69,10.85,12.20,12.97,13.80,13.68,14.49,13.42,14.93,12.62
11,E09000011,00AL,Greenwich,3.41,3.63,3.96,4.70,5.73,6.52,7.00,...,8.72,10.71,10.88,12.76,12.87,12.97,13.78,13.03,13.36,13.34
12,E09000012,00AM,Hackney,3.39,3.41,4.45,5.36,6.37,7.12,7.71,...,11.12,12.68,14.62,16.57,15.77,15.59,16.45,17.28,15.25,13.92
13,E09000013,00AN,Hammersmith and Fulham,5.95,7.07,7.20,8.63,9.12,8.92,9.26,...,15.92,18.55,21.06,20.86,20.69,19.28,19.06,18.54,19.66,19.62
14,E09000014,00AP,Haringey,4.32,4.98,5.43,6.45,7.13,7.74,8.48,...,11.15,12.70,14.02,15.46,16.86,17.48,16.88,15.17,16.93,18.03
15,E09000015,00AQ,Harrow,4.86,5.01,5.68,6.43,6.97,8.07,9.87,...,12.22,13.63,14.46,14.73,16.00,15.56,13.96,15.80,15.68,16.49
16,E09000016,00AR,Havering,4.56,4.98,5.10,5.88,6.63,8.56,9.21,...,7.70,8.33,9.15,11.24,12.01,11.93,11.33,11.10,12.51,12.99
17,E09000017,00AS,Hillingdon,3.56,3.73,4.08,4.79,5.22,6.08,7.04,...,7.28,8.68,10.38,11.78,12.35,13.02,11.65,11.18,13.18,13.86
18,E09000018,00AT,Hounslow,3.88,4.52,5.30,5.51,6.26,6.89,7.41,...,8.88,9.38,10.08,10.76,11.14,11.41,11.18,11.43,11.99,12.53
19,E09000019,00AU,Islington,5.18,6.13,6.37,7.33,7.59,7.02,8.53,...,11.92,13.61,15.72,15.17,15.64,14.73,14.56,15.44,15.38,14.78
20,E09000020,00AW,Kensington and Chelsea,11.78,11.93,13.08,14.38,14.61,14.63,15.32,...,30.42,38.33,37.93,38.82,41.04,43.97,39.39,35.54,37.01,38.39
21,E09000021,00AX,Kingston upon Thames,4.83,5.39,6.27,7.05,7.70,8.41,9.03,...,11.21,12.15,13.97,14.64,15.49,15.79,15.19,13.97,14.76,15.35
22,E09000022,00AY,Lambeth,3.92,4.26,4.97,6.12,7.08,7.53,7.79,...,9.61,11.80,12.91,14.42,14.70,14.50,14.29,14.68,15.74,14.36
23,E09000023,00AZ,Lewisham,3.38,3.51,3.79,4.25,5.37,5.93,7.14,...,8.20,10.00,11.25,12.02,12.61,13.67,13.27,12.50,14.05,12.88
24,E09000024,00BA,Merton,4.80,5.23,6.06,7.15,7.29,7.98,8.71,...,10.92,13.62,13.20,16.19,15.45,15.36,14.81,14.65,15.93,16.91
25,E09000025,00BB,Newham,2.85,3.25,3.61,4.45,4.99,6.21,7.27,...,7.70,8.60,10.13,11.06,12.67,13.49,12.34,12.10,11.86,10.63
26,E09000026,00BC,Redbridge,4.07,4.60,4.75,5.63,6.25,7.18,8.13,...,8.68,9.32,11.68,13.46,14.22,15.74,14.20,13.22,15.79,14.30
27,E09000027,00BD,Richmond upon Thames,7.00,7.54,7.84,9.30,9.49,10.51,10.38,...,14.38,16.17,17.30,18.15,19.91,18.47,17.94,18.58,19.63,20.73
28,E09000028,00BE,Southwark,3.82,4.40,5.05,5.83,6.49,6.70,6.82,...,9.53,11.56,12.72,13.46,14.16,13.88,13.87,12.23,13.46,12.42
29,E09000029,00BF,Sutton,3.57,4.39,4.80,5.22,5.61,6.43,7.08,...,8.32,10.54,11.48,12.18,12.88,13.34,11.52,11.11,13.91,12.39
30,E09000030,00BG,Tower Hamlets,3.80,4.25,5.04,5.52,5.76,6.34,6.08,...,6.79,7.76,8.78,10.06,9.82,9.85,10.67,10.21,11.89,10.07
31,E09000031,00BH,Waltham Forest,3.48,3.68,4.15,4.63,5.30,6.42,7.30,...,8.79,11.33,12.26,14.79,15.64,14.85,14.41,13.26,15.55,16.52
32,E09000032,00BJ,Wandsworth,5.55,6.10,6.80,7.71,9.07,9.57,9.88,...,14.29,16.57,17.05,18.71,19.83,17.90,17.95,19.26,19.25,18.94
33,E09000033,00BK,Westminster,6.98,7.56,8.39,9.58,10.25,10.73,11.09,...,19.76,22.28,22.28,24.50,24.91,24.64,21.44,21.62,19.29,22.04
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,E12000001,A,North East,2.98,3.01,3.07,2.98,3.01,3.29,3.95,...,5.02,5.02,5.15,5.22,5.21,5.31,5.21,5.21,5.69,4.91
36,E12000002,B,North West,3.01,3.01,3.09,3.13,3.23,3.51,4.02,...,5.18,5.42,5.55,5.64,5.79,5.84,5.86,5.87,6.64,6.19
37,E12000003,D,Yorkshire And The Humber,3.12,3.05,3.15,3.14,3.23,3.55,4.20,...,5.29,5.54,5.68,5.78,5.89,5.95,5.92,5.92,6.61,6.17
38,E12000004,E,East Midlands,3.17,3.26,3.42,3.46,3.72,4.18,5.04,...,5.62,5.94,6.28,6.49,6.84,6.96,6.86,6.89,7.93,7.45
39,E12000005,F,West Midlands,3.40,3.35,3.53,3.68,3.92,4.42,5.21,...,5.84,6.21,6.27,6.38,6.63,6.79,6.83,6.82,7.69,7.12
40,E12000006,G,East,3.68,3.85,4.11,4.42,4.78,5.78,6.51,...,7.43,7.83,8.42,8.96,9.66,9.78,9.47,9.51,10.57,10.08
41,E12000007,H,London,4.00,4.34,4.94,5.54,5.95,6.57,7.10,...,8.96,10.08,11.05,12.03,12.38,12.26,12.05,11.83,12.96,12.54
42,E12000008,J,South East,4.17,4.43,4.75,5.35,5.88,6.38,7.22,...,8.26,8.56,9.13,9.76,10.25,10.37,10.05,10.01,11.12,10.75
43,E12000009,K,South West,3.78,3.96,4.24,4.59,5.04,5.98,7.00,...,7.53,7.78,8.17,8.53,8.85,8.92,8.77,8.74,10.00,9.41
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,E92000001,64,England,3.54,3.67,3.96,4.19,4.50,5.12,5.93,...,6.76,7.09,7.52,7.72,7.91,8.04,7.88,7.86,9.06,8.28

In [6]:
housing_cleaned = housing_raw.iloc[1:,[2,17,18,19,20,21]]
housing_cleaned

                        Area   2011   2012   2013   2014   2015
1             City of London   8.37   8.78  10.61  12.79  15.25
2       Barking and Dagenham   6.03   5.19   5.54   6.27   7.12
3                     Barnet  10.81  10.98  11.41  12.52  14.24
4                     Bexley   7.58   7.69   7.72   8.74   9.14
5                      Brent  11.21  11.50  12.13  12.68  13.34
6                    Bromley   9.76   9.79  10.22  11.64  11.99
7                     Camden  13.62  13.39  15.69  17.69  18.42
8                    Croydon   7.59   7.80   7.60   8.02   9.63
9                     Ealing   9.98   9.74  10.93  12.84  14.48
10                   Enfield   9.09   9.03   9.69  10.85  12.20
11                 Greenwich   8.35   8.14   8.72  10.71  10.88
12                   Hackney   8.80   9.19  11.12  12.68  14.62
13    Hammersmith and Fulham  12.73  13.52  15.92  18.55  21.06
14                  Haringey  10.81  10.65  11.15  12.70  14.02
15                    Harrow  10.71  11.22  12.22  13.63  14.46
16                  Havering   7.74   7.78   7.70   8.33   9.15
17                Hillingdon   7.44   7.39   7.28   8.68  10.38
18                  Hounslow   7.63   8.17   8.88   9.38  10.08
19                 Islington  11.25  11.05  11.92  13.61  15.72
20    Kensington and Chelsea  24.85  28.48  30.42  38.33  37.93
21      Kingston upon Thames  10.35  10.70  11.21  12.15  13.97
22                   Lambeth   8.76   9.07   9.61  11.80  12.91
23                  Lewisham   8.02   8.17   8.20  10.00  11.25
24                    Merton  10.51  10.10  10.92  13.62  13.20
25                    Newham   7.17   7.17   7.70   8.60  10.13
26                 Redbridge   8.38   9.34   8.68   9.32  11.68
27      Richmond upon Thames  13.04  13.49  14.38  16.17  17.30
28                 Southwark   8.94   9.01   9.53  11.56  12.72
29                    Sutton   8.79   9.51   8.32  10.54  11.48
30             Tower Hamlets   6.53   6.73   6.79   7.76   8.78
31            Waltham Forest   8.21   8.81   8.79  11.33  12.26
32                Wandsworth  12.16  12.95  14.29  16.57  17.05
33               Westminster  16.31  16.07  19.76  22.28  22.28
34                       NaN    NaN    NaN    NaN    NaN    NaN
35                North East   5.12   5.00   5.02   5.02   5.15
36                North West   5.28   5.24   5.18   5.42   5.55
37  Yorkshire And The Humber   5.39   5.35   5.29   5.54   5.68
38             East Midlands   5.71   5.58   5.62   5.94   6.28
39             West Midlands   5.93   5.90   5.84   6.21   6.27
40                      East   7.32   7.27   7.43   7.83   8.42
41                    London   8.52   8.53   8.96  10.08  11.05
42                South East   8.07   7.99   8.26   8.56   9.13
43                South West   7.61   7.59   7.53   7.78   8.17
44                       NaN    NaN    NaN    NaN    NaN    NaN
45                   England   6.80   6.77   6.76   7.09   7.52